<template>
      <!-- <v-alert type="info">I am Vuetify</v-alert>
      <v-btn link to="/foo">Foo</v-btn>
      <v-btn link to="/bar">Bar</v-btn>
      <v-btn link to="/user/yasin">Bar</v-btn> -->

    <v-content>
      <router-view></router-view>
    </v-content>
</template>

<script>
export default {
  mounted() {
    // console.log("Component mounted.");
  }
};
</script>
