<template>
  <v-data-table :headers="headers" :items="users" sort-by="users" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>My CRUD</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Add New Users</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-form v-model="valid" method="post" v-on:submit.stop.prevent="save">
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.name"
                        label="user name"
                        :rules="[rules.required]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-select :items="roles" label="Select Role" v-model="editedItem.role" solo></v-select>
                    </v-col>
                  </v-row>
                  <v-row v-if="editedIndex==-1">
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.password"
                        label="password"
                        :rules="[rules.required]"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.rpassword"
                        :rules="[rules.required,passwordMatch]"
                        label="Confirm Password"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.email"
                        :rules="[rules.required,rules.validEMail]"
                        label="email"
                        :success-messages="success"
                        :error-messages="error"
                        :blur="checkEmail"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn
                  type="submit"
                  color="blue darken-1"
                  :disabled="!valid"
                  text
                  @click.prevent="save"
                >Save</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.role="{item}">
      <v-edit-dialog large block persistent :return-value.sync="item.role">
        {{item.role}}
        <template v-slot:input>
          <h2>Change Role</h2>
        </template>
        <template v-slot:input>
          <v-select :items="roles" label="Select Role" v-model="item.role" solo></v-select>
        </template>
      </v-edit-dialog>
    </template>
    <template v-slot:item.photo="{item}">
      <v-edit-dialog>
        <v-list-item-avatar>
          <v-img :src="item.photo" aspect-ratio="1" class="grey lighten-2"></v-img>
        </v-list-item-avatar>
        <template v-slot:input>
          <v-file-input
            accept="image/jpg, image/png, image/bmp, image/jpeg"
            :rules="[rules.required]"
            label="select file"
            v-model="editedItem.photo"
            @change="uploadPhoto(item)"
            placeholder="upload Avatar"
          />
        </template>
      </v-edit-dialog>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
    <v-snackbar v-model="snackbar">
      Record Deleted Successfully
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-data-table>
</template>


<script>
export default {
  data: () => ({
    valid: true,
    dialog: false,
    snackbar: false,
    success: "",
    error: "",
    headers: [
      {
        text: "#",
        align: "start",
        sortable: false,
        value: "id"
      },
      { text: "Name", value: "name" },
      { text: "Email", value: "email" },
      { text: "Role", value: "role" },
      { text: "Photo", sortable: false, value: "photo" },
      { text: "Created At", value: "created_at" },
      { text: "Updated At", value: "updated_at" },
      { text: "Actions", value: "actions", sortable: false }
    ],
    users: [],
    roles: [],
    rules: {
      required: v => !!v || "This field is required",
      validEMail: v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    },
    editedIndex: -1,
    editedItem: {
      id: "",
      role: "",
      name: "",
      email: "",
      created_at: "",
      updated_at: "",
      password: "",
      rpassword: ""
    },
    defaultItem: {
      id: "",
      role: "",
      name: "",
      email: "",
      created_at: "",
      updated_at: "",
      photo: "",
      password: "",
      rpassword: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit Item";
    },
    passwordMatch() {
      return this.editedItem.password != this.editedItem.rpassword
        ? "Password Does not match"
        : true;
    },
    checkEmail() {
      if (/.+@.+\..+/.test(this.editedItem.email)) {
        axios
          .post("/api/email/verify", { email: this.editedItem.email })
          .then(res => {
            this.success = res.data.message;
            this.error = "";
          })
          .catch(err => {
            this.success = "";
            this.error = "Email Already Exists";
          });
      }
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.users = [];

      axios.interceptors.request.use(
        config => {
          this.loading = true;
          // Do something before request is sent
          return config;
        },
        error => {
          this.loading = false;

          // Do something with request error
          return Promise.reject(error);
        }
      );

      // Add a response interceptor
      axios.interceptors.response.use(
        response => {
          // Any status code that lie within the range of 2xx cause this function to trigger
          // Do something with response data
          this.loading = false;
          return response;
        },
        error => {
          this.loading = false;
          // Any status codes that falls outside the range of 2xx cause this function to trigger
          // Do something with response error
          return Promise.reject(error);
        }
      );
      axios
        .get("api/users", {})
        .then(res => {
          console.log(res.data.users);
          this.users = res.data.users;
          this.roles = res.data.roles;
        })
        .catch(err => {
          console.log(err.response.status);
          if (err.response.status == 401) {
            localStorage.removeItem("token");
            this.$router.push("/login");
          }
        });
    },

    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      var index = this.users.indexOf(item);
      let decide = confirm("Are you sure you want to delete this item?");

      if (decide) {
        axios
          .delete("/api/users/" + item.id)
          .then(res => {
            // this.snackbar(true);
            this.users.splice(index, 1);
          })
          .catch(err => this.console.log(err));
      }
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    uploadPhoto(item) {
      console.log(item);
      const index = this.users.indexOf(item);

      let formData = new FormData();
      formData.append(
        "photo",
        this.editedItem.photo,
        this.editedItem.photo.name
      );
      formData.append("user", item.id);
      axios
        .post("/api/user/photo", formData)
        .then(res => console.log(res.data))
        .catch(err => {
          console.log(err);
        });
    },

    save() {
      console.log(this.editedIndex);
      var editedIndex = this.editedIndex;
      if (this.editedIndex > -1) {
        axios
          .put("api/users/" + this.editedItem.id, this.editedItem)
          .then(res => {
            Object.assign(this.users[editedIndex], res.data.user);
            this.close();
          })
          .catch(err => {
            console.log(err.response);
          });
      } else {
        axios
          .post("/api/users", this.editedItem)
          .then(res => {
            console.log(res.data);
            //this.users.push(res.data.user);
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  }
};
</script>

<style lang="less" scoped>
</style>